/*
* ------------------------------------------------------------------------
* Banner Section
* ------------------------------------------------------------------------
*/

.banner {
    position: relative;
    padding-top: 150px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;

    .title {
        text-transform: uppercase;
        font-size: 6.5rem;
    }
}
