/*
* ------------------------------------------------------------------------
* Dashboard Section
* ------------------------------------------------------------------------
*/

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #fafafa;
    box-shadow: 0 1rem 1rem rgba($dark, 0.15);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-view {
    background-color: $white;
    flex: 1;
    padding: 2.5rem;
}

/////////////////////////////////////////////
//SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    padding: 0;

    @include media-breakpoint-down(md) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;

            @include media-breakpoint-down(md) {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-down(md) {
            flex: 1;
        }
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $primary;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $primary;
    }

    &__item--active &__link,
    &__link:hover {
        color: $white !important;
    }

    &__link:link,
    &__link:visited {
        color: $dark;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            justify-content: center;
            padding: 2rem;
        }

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            padding: 1.5rem 0.5rem;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
            margin-bottom: 0.7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
