/*
* ------------------------------------------------------------------------
* News Section
* ------------------------------------------------------------------------
*/

.news {
    &-item {
        border: 1px solid $gray-200;
        border-radius: 0 0 1rem 1rem;
        overflow: hidden;

        &--picture {
            transition: opacity 0.5s;

            &:hover {
                opacity: 0.5;
            }
        }

        &--link {
            color: $primary;
            font-weight: 600;
            transition: color 0.5s;

            &:hover {
                color: $dark;
            }
        }

        &--title {
            font-size: 24px;
            color: $dark;
        }

        &--content {
            padding: 1rem;
            box-shadow: 0 0.5rem 0.5rem $gray-100;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }

        &--content {
            ul {
                li {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }

        .link {
            font-weight: 500;
            font-size: 14px;

            i {
                font-weight: 600;
                font-size: 11px;
            }
        }
    }
}
