.forecast-container {
    width: 100%;
    background-color: $primary;
    display: table;
    table-layout: fixed;
    overflow: hidden;
    border-radius: 10px;

    &.v-02 {
        .forecast {
            .forecast-content {
                padding: 30px 20px 20px;
            }

            .forecast-icon {
                height: 30px;
            }
        }
    }

    .forecast {
        display: table-cell;
        vertical-align: top;
        color: $white;

        &:nth-child(even) {
            background-color: darken($primary, 20%);
        }

        @media screen and (max-width: 990px) {
            display: block;
            width: 16.6667%;
            float: left;
        }

        &.today {
            width: 420px;

            .forecast-header {
                @include clearfix;

                .day {
                    float: left;
                }
                .date {
                    float: right;
                }
            }
            .forecast-content {
                text-align: left;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .location {
                font-size: 1.8rem;
                font-weight: 400;
            }
            .degree {
                .num,
                .forecast-icon {
                    display: inline-block;
                    vertical-align: middle;
                }
                .num {
                    font-size: 9rem;
                    margin-right: 30px;
                }
            }
            span {
                margin-right: 20px;
                img {
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }

            @media screen and (max-width: 990px) {
                display: block;
                width: 100%;
            }
        }

        .forecast-header {
            background: rgba(0, 0, 0, 0.1);
            padding: 10px;
            text-align: center;
            font-weight: 400;
            font-size: 1.5em;
        }

        .forecast-icon {
            height: 50px;
        }

        .forecast-content {
            padding: 50px 20px 10px;
            text-align: center;
            font-size: 1.4rem;

            .forecast-icon {
                margin-bottom: 20px;
            }

            .degree {
                font-size: 2.4rem;
                color: $white;
                font-weight: 700;
            }
        }
    }
}
