/**
 * \--------------------------------------------------------------------\
 * Topic Box
 * /--------------------------------------------------------------------/
 */

.topic-box {
    position: relative;
    width: 100%;
    margin: 2rem 0;
    float: left;

    &__image {
        width: 80%;

        img {
            width: 100%;
        }

        &--right {
            padding: 0 0 5rem;
            float: left;
        }
    }

    &__content {
        width: 40%;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
        padding: 3rem 4rem;
        position: absolute;
        font-size: 1.7rem;

        &--right {
            bottom: 0;
            right: 0;
        }

        h2 {
            font-size: 3.5rem;
            color: $primary;
            margin-top: 1rem;
        }

        p {
            font-size: 1.4rem;
            line-height: 2.6rem;
        }

        &__button-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
        }
    }
}
