/* --------------------- Social-network icons --------------------- */

.social-networks {
    display: flex;
    margin: 0;
    padding: 0;

    &-icon {
        height: 45px;
        width: 45px;
        font-size: 1.4rem;
        background-color: rgba($white, 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        i {
            color: $white;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background: rgba($white, 0.1);
        }
    }
}

/* --------------------- Spinner --------------------- */
.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $primary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinner div:nth-child(1) {
    left: 8px;
    animation: spinner1 0.6s infinite;
}
.spinner div:nth-child(2) {
    left: 8px;
    animation: spinner2 0.6s infinite;
}
.spinner div:nth-child(3) {
    left: 32px;
    animation: spinner2 0.6s infinite;
}
.spinner div:nth-child(4) {
    left: 56px;
    animation: spinner3 0.6s infinite;
}
@keyframes spinner1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes spinner3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes spinner2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* --------------------- Input && button --------------------- */
.form-control,
.btn {
    font-size: 1.4rem;
}

.form {
    &-control {
        margin-bottom: 1rem;
    }

    &-group {
        label {
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }
    }
}

/* --------------------- Login form --------------------- */
.login-form {
    background: $white;
    box-shadow: 0 0.5rem 1.5rem rgba($primary, 0.3);
    padding: 2rem;
    width: 30%;
    margin: 12rem auto;
    border-radius: 1rem;
    text-align: center;

    .logo-img {
        max-width: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    form {
        text-align: left;
    }
}

.flights-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------------- section Header --------------------- */
.section-header {
    position: relative;
    margin-bottom: 4rem;
    line-height: 1;

    .title {
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    .subtitle {
        font-size: 5rem;
        font-weight: 300;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12rem;
        height: 0.8rem;
        background: $primary;
    }
}

/* --------------------- table --------------------- */
table {
    background-color: $white;
    font-size: 1.5rem;

    th,
    td {
        padding: 1rem;
    }

    td {
        color: $gray-700;
        font-weight: 300;
        vertical-align: middle;
    }

    &.bordered {
        border: 1px solid $gray-100;
    }

    &.theme-light {
        th {
            background: linear-gradient(to top, rgb(243, 246, 249), $white);
        }
    }
}

/* --------------------- Data action Buttons --------------------- */
.data-action-buttons {
    border: 1px solid $gray-300;
    background-color: $white;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s;

    &:hover {
        box-shadow: 0 0 6px rgba($color: rgb(56, 56, 56), $alpha: 0.15);
        border-color: $white;
    }

    @include border-radius;

    .btn {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        flex: 0 0 33.333%;
        text-align: center;
        justify-content: center;
        background-color: transparent;

        &:hover {
            background-color: $primary;
            color: $white !important;
        }
    }
}

/* --------------------- Alert Box --------------------- */

.alert-box-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($black, 0.4);
    z-index: 99999;
    transition: all 0.5s;

    &.show {
        display: block;
    }
}

.alert-box {
    position: relative;
    text-align: center;
    max-width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba($black, 0.2);
    overflow: hidden;
    animation: fadeIn ease 0.3s;
    border-radius: 0.5rem;

    $alert: &;

    &__header {
        padding: 1rem;
        width: 100%;
        border-bottom: 1px solid $gray-300;
        font-weight: 600;
        opacity: 0.8;
        font-size: 1.4rem;

        .icon {
            font-size: 1.4rem;
            margin-right: 0.4rem;
            color: inherit;
        }
    }

    &__content {
        padding: 1.5rem;
        color: inherit;
        font-size: 0.4rem;
    }

    // Variations
    &--default {
        #{$alert}__header {
            background-color: darken($color: $gray-200, $amount: 2);
            border-bottom-color: darken($color: $gray-300, $amount: 3);
        }
    }

    &--success {
        color: $white;
        #{$alert}__header {
            background-color: darken($color: $success, $amount: 3);
            border-bottom-color: darken($color: $success, $amount: 7);
        }
    }

    &--error {
        color: $white;
        #{$alert}__header {
            background-color: darken($color: $danger, $amount: 2);
            border-bottom-color: darken($color: $danger, $amount: 10);
        }
    }

    &--warning {
        color: darken($color: $warning, $amount: 36);
        #{$alert}__header {
            background-color: darken($color: $warning, $amount: 4);
            border-bottom-color: darken($color: $warning, $amount: 8);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* --------------------- Admin tab --------------------- */

.admin-tab {
    align-self: flex-end;

    .dropdown {
        &-toggle {
            font-size: 1.4rem;

            &,
            &:focus {
                background: none;
                outline: none;
                border: none;
                box-shadow: none;
            }

            i {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                font-size: 1.4rem;
                border-radius: 50%;
                background: $white;
                border: 1px solid $gray-600;
            }
        }

        &-menu {
            border-radius: 0;
            margin-top: -5px;
            margin-left: 10px;
        }
    }
}
