/* --------------------- Hero styles --------------------- */
.hero {
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba($dark, 0.2);
        width: 100%;
        height: 100%;
    }
}

/* --------------------- Social-network icons --------------------- */

.social-networks {
    display: flex;
    margin: 0;
    padding: 0;

    &-icon {
        height: 45px;
        width: 45px;
        font-size: 14px;
        background-color: rgba($white, 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        i {
            color: $white;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background: rgba($white, 0.1);
        }
    }
}
