/* --------------------- Hero styles --------------------- */
.hero {
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

/* --------------------- Social-network icons --------------------- */

.social-networks {
    display: flex;
    margin: 0;
    padding: 0;

    &-icon {
        height: 45px;
        width: 45px;
        font-size: 14px;
        background-color: rgba($white, 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        i {
            color: $white;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            background: rgba($white, 0.1);
        }
    }
}

/* --------------------- Spinner --------------------- */
.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.spinner div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $primary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinner div:nth-child(1) {
    left: 8px;
    animation: spinner1 0.6s infinite;
}
.spinner div:nth-child(2) {
    left: 8px;
    animation: spinner2 0.6s infinite;
}
.spinner div:nth-child(3) {
    left: 32px;
    animation: spinner2 0.6s infinite;
}
.spinner div:nth-child(4) {
    left: 56px;
    animation: spinner3 0.6s infinite;
}
@keyframes spinner1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes spinner3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes spinner2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* --------------------- Input && button --------------------- */
.form-control,
.btn {
    font-size: 1.4rem;
}

.form {
    &-control {
        margin-bottom: 1rem;
    }

    &-group {
        label {
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }
    }
}

/* --------------------- Login form --------------------- */
.login-form {
    background: $white;
    box-shadow: 0 0.5rem 1.5rem rgba($gray-400, 0.6);
    padding: 2rem;
    width: 30%;
    margin: 12rem auto;
    border-radius: 1rem;
    text-align: center;

    .logo-img {
        max-width: 10rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    form {
        text-align: left;
    }
}
