/* --------------------- Configs --------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5% !important;
}

body {
    position: relative;
    font-weight: 500;
    line-height: 1.6;
}

.spacing-lg {
    padding-top: 70px;
    padding-bottom: 70px;
}

p {
    font-size: 1.4rem;
}

a {
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.5s;

    &.link {
        font-size: 1.5rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.spacing {
    &-lg {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &-md {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &-sm {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* --------------------- Buttons --------------------- */
.btn {
    &:disabled {
        cursor: not-allowed;
    }
}
